<template>
    <div id="app">
        <Form :model="settingForm" label-position="left" :label-width="200" ref="settingForm">
            <FormItem label="Multiple Countries?">
                <i-switch v-model="settingForm.isMultipleCountry" size="large">
                    <span slot="open">On</span>
                    <span slot="close">Off</span>
                </i-switch>
            </FormItem>
            <FormItem label="Ship To Country" v-show="!settingForm.isMultipleCountry">
                <Select v-model="settingForm.selectedCountry" style="width:200px" prop="country">
                    <Option v-for="c in listOfCountries.data" :key="c.c" :value="c.c">{{c.n}}</Option>
                </Select>
            </FormItem>
            <FormItem label="Ship To Countries (max 10)" v-show="settingForm.isMultipleCountry">
                <Select multiple v-model="settingForm.selectedCountries" style="width:200px" prop="countries">
                    <Option v-for="c in listOfCountries.data" :key="c.c" :value="c.c">{{c.n}}</Option>
                </Select>
                <span style="color: #3f51b5; font-size: x-small">Selected: {{currentSelectedCountries}}</span>
            </FormItem>
            <FormItem label="Currency">
                <Select v-model="settingForm.selectedCurrency" style="width:200px" prop="currency">
                    <Option v-for="c in listOfCurrencies" :key="c" :value="c">{{c}}</Option>
                </Select>
            </FormItem>
            <FormItem label="Shipping Company">
                <Select v-model="settingForm.selectedCompany" style="width:200px" prop="company">
                    <Option v-for="c in listOfCompanies" :key="c.id" :value="c.id">{{c.name}}</Option>
                </Select>
            </FormItem>
            <FormItem>
                <Button :disabled="isDisableSaveButton" type="primary" @click="submitForm('settingForm')">Save</Button>
            </FormItem>
        </Form>
    </div>
</template>

<script>
    import Vue from 'vue'
    import _ from 'lodash'
    import {DEFAULT_SETTINGS, SHIPPING_COMPANIES} from '../shared/constants'
    import {storage} from '../shared/browser'

    export default {
        name: 'App',
        data() {
            return {
                listOfCountries: {
                    loading: false,
                    data: null
                },
                listOfCurrencies: ["USD", "RUB", "GBP", "BRL", "CAD", "AUD", "EUR", "INR", "UAH", "JPY", "MXN", "IDR", "TRY", "SEK", "CLP", "KRW", "SGD", "NZD", "CHF"],
                listOfCompanies: _.clone(SHIPPING_COMPANIES),
                settingForm: _.clone(DEFAULT_SETTINGS),
            }
        },
        methods: {
            submitForm() {
                const self = this;
                storage.sync.set({['_SETTINGS_']: self.settingForm}).then(() => {
                    self.$Message.success('Success!');
                })
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
        },
        mounted() {
            document.title = 'Settings - Epacket identification'
            const self = this
            self.listOfCountries['loading'] = true
            storage.sync.get(['_SETTINGS_','SHIPPING_COUNTRIES']).then((rs) => {
                if (rs && rs['_SETTINGS_']) {
                    self['settingForm'] = _.assign(DEFAULT_SETTINGS, rs['_SETTINGS_']);
                }
                const countries = rs && rs['SHIPPING_COUNTRIES']
                if (countries){
                    self.listOfCountries['loading'] = false;
                    if (!self.settingForm.isMultipleCountry) {
                        countries.unshift({
                            c: 'Default',
                            n: 'Default'
                        });
                    }
                    self.listOfCountries['data'] = countries;
                }
            })
        },
        computed: {
            isDisableSaveButton() {
                let flag = true;
                if (!this.settingForm.isMultipleCountry) {
                    flag = false;
                } else {
                    flag = !(this.settingForm.selectedCountries.length > 0 && this.settingForm.selectedCountries.length <= 10)
                }
                return flag;
            },
            isMultipleCountry() {
                return this.settingForm.isMultipleCountry;
            },
            currentSelectedCountries() {
                return `${this.settingForm.selectedCountries.length}/10`
            }
        },
        watch: {
            'isMultipleCountry'(val) {
                console.log(val)
            }
        }
    }
</script>

<style>
    #app {
        margin: 10px;
    }
</style>