<template>
    <div id="app">
        <h1 class="title">Settings</h1>
        <Form :model="settingForm" label-position="left" :label-width="200" ref="settingForm" :rules="rulesValidate">
            <FormItem label="Ship To Country">
                <Select multiple v-model="settingForm.selectedCountries" style="width:200px" prop="country">
                    <Option v-for="c in listOfCountries.data" :key="c.c" :value="c.c">{{c.n}}</Option>
                </Select>
            </FormItem>
            <FormItem label="Currency">
                <Select v-model="settingForm.selectedCurrency" style="width:200px" prop="currency">
                    <Option v-for="c in listOfCurrencies" :key="c" :value="c">{{c}}</Option>
                </Select>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="submitForm('settingForm')">Save</Button>
            </FormItem>
        </Form>
    </div>
</template>

<script>
    import Vue from 'vue'
    import _ from 'lodash'
    import {DEFAULT_SETTINGS} from '../shared/constants'
    import {storage} from '../shared/browser'

	export default {
		name: 'App',
        data(){
			return {
                listOfCountries: {
					loading: false,
                    data: null
                },
                listOfCurrencies: ["USD", "RUB", "GBP", "BRL", "CAD", "AUD", "EUR", "INR", "UAH", "JPY", "MXN", "IDR", "TRY", "SEK", "CLP", "KRW", "SGD", "NZD", "CHF"],
                settingForm: _.clone(DEFAULT_SETTINGS),
                rulesValidate: {
                	country:  { required: true, message: 'Please select country', trigger: 'blur' },
                	currency:  { required: true, message: 'Please select currency', trigger: 'blur' },
                }
			}
        },
        created(){
        	const self = this
            self.listOfCountries['loading'] = true
	        Vue.http.get('https://m.aliexpress.com/GetCountryList.htm').then((response) => {
		        const countries = _.chain(response).get('body.countries').filter((c) => c['i'] === undefined).uniqBy('c').value()
		        self.listOfCountries['loading'] = false;
		        countries.unshift({
                    c: 'Default',
                    n: 'Default'
                });
		        console.info(countries)
                // self.listOfCountries['data'] = _.uniq(countries);
	        })
        },
        methods: {
	        submitForm(formName) {
                storage.sync.set({['_SETTINGS_']: this.settingForm}).then(() => {
                            this.$Message.success('Success!');
                })
	        },
	        resetForm(formName) {
		        this.$refs[formName].resetFields();
	        }
        },
        mounted(){
			document.title = 'Settings - Epacket identification'
            const self = this
            storage.sync.get(['_SETTINGS_']).then((rs) => {
			    if(rs && rs['_SETTINGS_']){
                    self['settingForm'] = _.assign(DEFAULT_SETTINGS, rs['_SETTINGS_']);
                }
            })
        }
	}
</script>

<style>
    .setting-form .sltCountries{
        width: 80% !important;
    }
</style>