.oi0ioi-tool{
    padding: 3px !important;
    border: dashed 1px;
    min-height: 24px;
    height: 24px;
    z-index: 9999 !important;
    position:relative;
}

.oi0ioi-tool .c0mpany_info{
    float: left;
}

.multiple-c0untries{
    border: none !important;
    background: antiquewhite!important;
}

.c0mpany_text{
    color: lightcoral !important;
    font-weight: bold !important;
}

.oi0ioi-tool .flag_node{
    float: right !important;
    z-index: 9999 !important;
    height: 14px;
    right: 0;
}

.resultGr0up{
    display: none;
    position: absolute;
    background-color: whitesmoke !important;
    z-index: 9999 !important;
    padding: 3px !important;
    border: solid 1px whitesmoke;
    min-width: 220px;
}

.j-module .resultGr0up{
    z-index: 10000!important;
    min-width: 190px;
}

.item-list .resultGr0up{
    min-width: 190px;
}

.c0mpany_info, .c0mpany_text, .flag_node{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.ui-box-body .oi0ioi-tool{
    padding: 0!important;
    padding-top: 2px !important;
    min-height: 20px !important;
}

.oi0ioi_no_company{
    border-color: #f44336 !important;
    color: #f44336;
    font-weight: bold;
}

.oi0ioi_company{
    border-color: #4CAF50 !important;
    color: #4CAF50;
    font-weight: bold;
}

.oi0ioi_company_has_price{
    border-color: #3f51b5 !important;
    color: #3f51b5;
    font-weight: bold;
}

#pagination-bottom{
    margin-top: 60px !important;
}

.resultIt3m{
    font-size: 11px !important;
    line-height: 5px !important;
}